* {
	margin: 0px;
	padding: 0px;
}
/*carousel*/
html,
body,
.wraper,
#carousel-example-generic,
.carousel-inner,
.carousel-inner div {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
#carousel-example-generic {
	z-index: 0;
}
.carousel-inner div:nth-of-type(1) {
	background-image: url("../img/United States, North America (1).jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-inner div:nth-of-type(2) {
	background-image: url("../img/RdyMe8KQAV0.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
.carousel-inner div:nth-of-type(3) {
	background-image: url("../img/Wanaka tree.jpg");
	-webkit-background-size: cover;
	background-size: cover;
}
#carousel-example-generic a {
	visibility: hidden;
}
.wraper {
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}


/*sidebar*/
#sidebar,
#sidebar-xs {
	position: fixed;
	top: 15px;
	right: 5px;
	z-index: 3;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
#sidebar .button,
#sidebar-xs .button {
	cursor: pointer;
	margin: 15px 15px 0px 0px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
#sidebar .bar,
#sidebar-xs .bar {
	width: 50px;
	height: 5px;
	background-color: #F2F2F2;
	margin-bottom: 10px;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
#sidebar .barColorChange,
#sidebar-xs .barColorChange {
	background-color: #495A80;
}
.active .top {
	-webkit-transform: translateY(15px) rotateZ(45deg);
	-moz-transform: translateY(15px) rotateZ(45deg);
	-ms-transform: translateY(15px) rotateZ(45deg);
	-o-transform: translateY(15px) rotateZ(45deg);
	transform: translateY(15px) rotateZ(45deg);
}
.active .bottom {
	-webkit-transform: translateY(-15px) rotateZ(-45deg);
	-moz-transform: translateY(-15px) rotateZ(-45deg);
	-ms-transform: translateY(-15px) rotateZ(-45deg);
	-o-transform: translateY(-15px) rotateZ(-45deg);
	transform: translateY(-15px) rotateZ(-45deg);
}
.active .mid {
	opacity: 0;
}

#sidebox {
	position: fixed;
	top: 0;
	right: -350px;
	bottom: 0;
	width: 350px;
	z-index: 2;
	background-color: #0d0e09;
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.slice {
	margin-right: 350px;
}
.box {
	margin-top: 60px;
}
.box li {
	width: 360px;
	margin-bottom: 30px;
	list-style-type: none;
	text-align: center;
}
.box a {
	font-size: 26px;
	font-family: "微软雅黑";
	color: #f2f2f2;
	position: relative;
	background: linear-gradient(to bottom, #f2f2f2, #f2f2f2)no-repeat bottom/0px 3px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
.box a:active,
.box a:visited,
.box a:link {
	text-decoration: none;
}
.box a:hover {
	text-decoration: none;
	background: linear-gradient(to bottom, #f2f2f2, #f2f2f2)no-repeat bottom/80px 3px;
}
.box a:hover {
	text-decoration: none;
}

.logo li {
	position: absolute;
	list-style: none;
	opacity: .5;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.logo li:hover {
	opacity: 1;
}
.logo li:nth-of-type(1) {
	right: 150px;
	bottom: 50px;
}
.logo li:nth-of-type(2) {
	right: 50px;
	bottom: 50px;
}
.logo li:nth-of-type(3) {
	right: 102px;
	bottom: 46px;
}
@media (min-width: 768px) {
	#sidebar-xs {
		display: none;
	}
}
@media (max-width: 768px) {
	#sidebar{
		display: none;
	}
}

/*clock*/
#clock {
	z-index: 1;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	border: 4px solid #fff;
	position: absolute;
	top: 35px;
	left: 50px;
	-webkit-transition: opacity .8s ease;
	-moz-transition: opacity .8s ease;
	-ms-transition: opacity .8s ease;
	-o-transition: opacity .8s ease;
	transition: opacity .8s ease;
	box-shadow: 0 0 2px 1px #fff,
				0 0 2px 1px #fff inset;
}
.hour {
	background-color: #fff;
	width: 4px;
	height: 30px;
	position: absolute;
	right: 50%;
	top: 50%;
	margin-top: -30px; 
	border-radius: 0% 0% 100% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.minute {
	background-color: #fff;
	width: 3px;
	height: 55px;
	position: absolute;
	right: 50%;
	top: 50%;
	margin-top: -55px; 
	border-radius: 0% 0% 100% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.second {
	background-color: #fff;
	width: 2px;
	height: 60px;
	position: absolute;
	right: 50%;
	top: 50%;
	margin-top: -60px; 
	border-radius: 0% 0% 100% 100%;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}


/*article*/

#artical {
    width: 100%;
    background-color: #EFEFF3;
    padding-bottom: 5px;
}
#artical .head {
    width: 100%;
    height: 200px;
    background-color: #BDCCF2;
    border-top: 18px solid #495A80;
}
.head p {
    font-size: 45px;
    font-weight: bolder;
    color: #fff;
    margin-left: 25%;
    margin-top: 35px;
    font-family: '微软雅黑';
}
.textbox {
    width: 50%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(100,100,100,.1);
    margin: 20px auto;
    padding: 5px 25px 15px;
    position: relative;
    top: -80px;
    font-family: '微软雅黑';
}
.textbox h3 {
	font-size: 24px;
	color: #495A80;
}
.textbox h4 {
	font-size: 13px;
	opacity: .4;
}
.textbox .contentWraper {
	overflow: hidden;
	height: 150px;
}
.textbox .content {
	border-left: 5px solid #8EE5EE;
	padding-left: 12px;
}
.textbox .readmore {
	display: block;
	margin-top: 10px;
	cursor: pointer;
}
.slice2 {
	margin-left: -200px;
}
.textbox .showmore {
	overflow: visible;
	height: auto;
}
/*back to top*/
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	display: block;  
	padding: 1em;
	margin: 1em;
	color: #495A80;
	background: #E8E8E8;
	border: 2px solid #495A80;
}
.back-to-top:hover {
	cursor: pointer;
}
.slice3 {
	right: 350px;
}